<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Model</servlet-name>
  	<display-name>Model</display-name>
  	<description></description>
  	<servlet-class>com.java.model.Model</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ConnectionUtils</servlet-name>
  	<display-name>ConnectionUtils</display-name>
  	<description></description>
  	<servlet-class>com.java.utils.ConnectionUtils</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TestConnection</servlet-name>
  	<display-name>TestConnection</display-name>
  	<description></description>
  	<servlet-class>com.java.utils.TestConnection</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>App</servlet-name>
  	<display-name>App</display-name>
  	<description></description>
  	<servlet-class>com.java.App</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeRepositaryImpl</servlet-name>
  	<display-name>EmployeeRepositaryImpl</display-name>
  	<description></description>
  	<servlet-class>com.java.repositary.EmployeeRepositaryImpl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IEmployeeRepositary</servlet-name>
  	<display-name>IEmployeeRepositary</display-name>
  	<description></description>
  	<servlet-class>com.java.repositary.IEmployeeRepositary</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeServiceImpl</servlet-name>
  	<display-name>EmployeeServiceImpl</display-name>
  	<description></description>
  	<servlet-class>com.java.service.EmployeeServiceImpl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IEmloyeeService</servlet-name>
  	<display-name>IEmloyeeService</display-name>
  	<description></description>
  	<servlet-class>com.java.service.IEmloyeeService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeQueries</servlet-name>
  	<display-name>EmployeeQueries</display-name>
  	<description></description>
  	<servlet-class>com.java.utils.EmployeeQueries</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Model</servlet-name>
  	<url-pattern>/model</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ConnectionUtils</servlet-name>
  	<url-pattern>/ConnectionUtils</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TestConnection</servlet-name>
  	<url-pattern>/testConnection</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>App</servlet-name>
  	<url-pattern>/app</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeRepositaryImpl</servlet-name>
  	<url-pattern>/employeerepositaryimpl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IEmployeeRepositary</servlet-name>
  	<url-pattern>/iemployeerepositary</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeServiceImpl</servlet-name>
  	<url-pattern>/employeeserviceimpl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IEmloyeeService</servlet-name>
  	<url-pattern>/iemloyeeservice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeQueries</servlet-name>
  	<url-pattern>/employeequeries</url-pattern>
  </servlet-mapping>
</web-app>
